<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="infobase_marvel" translate="label" sortOrder="1000">
            <label>Infobase</label>
        </tab>
        <section id="infobase_marvel" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Infobase Marvel</label>
            <tab>infobase_marvel</tab>
            <resource>Infobase_MarvelStore::config_infobase_marvelstore</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enable</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>